$wid: 300px;

.single__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: #DCE1DE;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .single__blog-image {
      // width: 100%;
      width: 100vw;
      height: 400px;
      object-fit: cover;
      margin-bottom: 10px;
    }
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        padding: 20px;

        .date {
          align-self: start;
        }

        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 22px;
            // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            line-height: 30px;
        }

        hr {
            margin-top: 30px;
            margin-bottom: 20px;
            width: 30%;
            border: 0.5px solid var(--text-white);
            
        }

        li {
            list-style: none;
            font-size: 20px;
            padding: 5px;
        }

        a {
            text-decoration: none;
            color: #216869;
            
            &:visited {
                color: #216869;
            }

            &:hover {
                color: #49A078;
                transition: all 0.18s ease-in-out;

            }
        }

        iframe {
            width: 560px;
            height: 315px;
        }

        .list {
            text-align: left;
        }
    }
}

@media (max-width: 600px) {
    .container {
        section {
            text-align: center;
            padding: 0px 5px;
            
            h1 {
                font-size: 35px;
            }

            h3 {
                font-size: 15px;
            }

            p {
                font-size: 20px;
                text-align: left;
                line-height: 25px;
            }

            iframe {
                width: $wid;
                height: calc($wid*0.5625);   
            }
        }
    }
} 