.single__blog, .single__article {
    position: relative;
    height: fit-content;
    padding-bottom: 0;
  }
  
  .single_banner {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 10px;
  }
  
  .single__article, .single__title {
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
  }
  
  .single__published {
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .single__published span {
    font-weight: 700;
    font-style: normal;
  }
  
  .single__article * {
    margin: 30px 0;
    color: #2d2d2d;
  }
  
  .single__article-image {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 30px auto;
    object-fit: contain;
  }
  
  .single__sub-heading {
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 40px;
    margin-top: 80px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .single__body {
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
  }
  
  ::selection {
    background: #1b1b1b;
    color: #fff;
  }
  
  .single__links-container {
    display: flex;
    list-style: none;
  }
  
  .single__link {
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
  }
  
  .single__header {
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../img/header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .single__content {
    text-align: center;
  }
  
  .single__heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
  }
  
  .single__heading .single__small {
    display: block;
    font-size: 40px;
  }
  
  .single__heading .single__no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
  
  .single__btn {
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .single__blogs-section {
    width: 100%;
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }
  
  .single__blog-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .single__blog-overview {
    margin: 10px 0 20px;
    line-height: 30px;
  }
  
  .single__btn.single__dark {
    background: #1b1b1b;
    color: #fff;
  }