// Variables
$green: #93ff96;
$white: #f0f8ff;
$dark: #234368;

nav {
    display: flex;
    justify-content: space-between;
    background: $green;

    .left-side, 
    .right-side,
    .mid {
        padding: 20px;
    }


    .mid {
        display: flex;
        justify-content: space-between;
        // width: 50%;
        flex: 6;
      
    }

    .left-side, 
    .right-side {
        display: flex;
        // width: 25%;
        flex: 3;
    }

    .right-side {
        justify-content: space-around;
    }

    li {
        list-style: none;
        font-size: 16px;
        font-weight: 500;
    }
    
    a {
        text-decoration: none;
        color: $dark;

        &:hover {
            color: $white;
            transform: scale(1.03);
            transition: all 0.15s ease-in;
        }
    }
}

@media (max-width: 600px) {

    .left-side, 
    .right-side,
    .mid {
        flex-direction: column;
        align-items: center;
    }
}
  