// Variables
$green: #93ff96;
$white: #f0f8ff;
$dark: #234368;

footer {
    display: flex;
    flex-direction: column;
    background-color: $green;

    .left-side, 
    .right-side,
    .mid {
        padding: 20px;
        justify-items: center;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
    }

    .copyright {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        width: 100%;
        font-size: 8px;
    }

}